*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  --color-red:#E3646E;
  --color-purple:#BB72E9;
  --color-blue:#3996DB;
  --color-green:#82BC4F;
  --color-yellow:#EABD5F;
  --color-gray100:#E2E4E9;
  --color-gray200:#C0C4CE;
  --color-gray300:#878EA1;
  --color--gray400:#292C34;
  --color--gray500:#16181D;
  --color--gray600:#0D0E11;

  --font-family-text:"Maven Pro";
  --font-family-tittle:"Asap";
  --font-family-subtitle:"Inconsolata";

}

a{
  text-decoration: none;
  color:inherit
}


