body{
  background-image: url(../assets/Images/Background_Intro.png);
  background-size: cover;
  height: 100%;
  margin-block: 120px 183px;
}


.perfil-container{
  display: grid;
  /* place-items: center; */
}

.foto {
  align-self: center;
  height: 87px;
  width:87px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.borda{
  align-self: ;
  height: 96px;
  width:96px;
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 2;
}

.icone{
  height: 31px;
  width:25px;
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 2;
}



#primary{
  align-content: center;

  a{
    background-color: var(--color--gray400);
    gap:16px;
    border-radius: 16px;
    
    
  }

}
